@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-bold: "Prompt", sans-serif;
    --font-regular: "Poppins", sans-serif;
    --colour-regular: #030407;
    --bg-regular: #fbfcfe;
    --colour-primary: #3351d7;
    --colour-secondary: #8499f5;
    --colour-accent: #5572f7;
}

* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    font-family: var(--font-regular);
    font-size: 1.2rem;

    color: var(--colour-regular);

}

html, body {
    height: 100vh;

    background-color: var(--bg-regular);
}

h1 {
    font-family: var(--font-bold);
    font-size: 3.3rem;
    letter-spacing: -1px;
    word-spacing: -2px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 5rem 10rem;
}

.header {
    height: max-content;
    text-align: center;
}

.header > a {
    background-color: var(--colour-primary);
    padding: 15px 45px;
    border-radius: 10px;
    color: var(--bg-regular);
    border: 1px solid var(--bg-regular);
    font-size: 1rem;
    text-decoration: none;
    margin: 0px 30px;
}

.header > a:hover {
    text-decoration: underline;
    transform: translate(100px);
}
