@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-bold: "Prompt", sans-serif;
    --font-regular: "Poppins", sans-serif;
    --colour-regular: #3a3a3a;
    --bg-regular: #fbfcfe;
    --bg-secondary: #f3f3f6;
    --colour-primary: #3351d7;
    --colour-secondary: #8499f5;
    --colour-accent: #5572f7;
}

::selection {
    background-color: var(--colour-accent);
    color: var(--bg-regular);
}

* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    font-family: var(--font-regular);
    font-size: 1.2rem;

    color: var(--colour-regular);

}

html, body {
    display: block;
}

h1 {
    position: relative;

    font-family: var(--font-bold);
    font-size: 3.3rem;
    font-weight: 900;

    text-align: center;
    letter-spacing: -1px;
    word-spacing: -2px;

    color: var(--colour-accent);

}

h2 {
    font-family: var(--font-bold);
    font-size: 2.8rem;
    letter-spacing: -1px;
    word-spacing: -2px;
    position: relative;
}

h1 > img {
    position: absolute;
    left: -3.3rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

a {
    color: var(--colour-primary);
    text-decoration: underline 2px;
}

a:hover {
    text-decoration: none;
}


.wrapper {
    width: 100vw;
    padding: 7rem 10rem;
}

.footer {
    display: block;
    width: 100vw;
    text-align: center;
    margin: 1rem;
}

/* Other */

.spacer {
    height: 21rem;
}

.mini {
    font-size: 0.8rem;
}

.focus {
    color: var(--colour-primary);
}

.content {
    margin: 1rem 0.8rem;
}

.chartRight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0rem;
}

.chartLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 2rem 0rem;
}

.chartFull {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Fix the plus and minus button size */
.map > * > * {
    font-size: 0.8rem;
}

.map {
    border: 1px solid var(--bg-secondary);
    border-radius: 1rem;
    padding: 5px;
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
    width: calc(100vw - 20px);
    position: fixed;
    text-align: center;
    margin: 10px;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    padding: 10px 0px;
    transition: all 0.2s ease-in-out;
    z-index: 999;
    top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header > a {
    min-width: max-content;

    padding: 10px 20px;
    margin: 5px 10px;

    background-color: var(--colour-accent);
    color: var(--bg-regular);

    text-align: center;
    text-decoration: none;

    border-radius: 9999px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header > a:hover  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header.fixedToTop {
    position: fixed;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.acrylic {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 7px;
}

.chart {
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0rem 1rem;
}

.splash {
    position: absolute;
    width: calc(100vw - 10rem) !important;

    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 5rem;

    z-index: -1;

}