@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-bold: "Prompt", sans-serif;
    --font-regular: "Poppins", sans-serif;
    --colour-regular: #3a3a3a;
    --bg-regular: #fbfcfe;
    --bg-secondary: #f3f3f6;
    --colour-primary: #3351d7;
    --colour-secondary: #8499f5;
    --colour-accent: #5572f7;
}

::selection {
    background-color: var(--colour-accent);
    color: var(--bg-regular);
}

* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    font-family: var(--font-regular);
    font-size: 1.2rem;

    color: var(--colour-regular);

}

html, body {
    height: 100vh;

    background-color: var(--bg-regular);

    display: flex;
    flex-direction: row;

}

h1 {
    font-family: var(--font-bold);
    font-size: 3.3rem;
    letter-spacing: -1px;
    word-spacing: -2px;
    position: relative;
}

h2 {
    font-family: var(--font-bold);
    font-size: 2.8rem;
    letter-spacing: -1px;
    word-spacing: -2px;
    position: relative;
}

h1 > img {
    position: absolute;
    left: -3.3rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

a {
    color: var(--colour-primary);
    text-decoration: underline 2px;
}

a:hover {
    text-decoration: none;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 5rem 10rem;
}

.mini {
    font-size: 0.8rem;
}

.focus {
    color: var(--colour-primary);
}

.content {
    margin: 1rem 0.8rem;
}
